# SPDX-License-Identifier: PMPL-1.0-or-later
apiVersion: v1
kind: Service
metadata:
  name: hesiod-dns-map
  namespace: flatracoon
  labels:
    app: hesiod-dns-map
    layer: naming
spec:
  type: ClusterIP
  selector:
    app: hesiod-dns-map
  ports:
    - name: dns-udp
      port: 53
      targetPort: dns-udp
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: dns-tcp
      protocol: TCP
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
